.git
.gitignore
.github
.vercel
node_modules
**/node_modules
.next
**/.next
target
**/target
dist
**/dist
coverage
**/coverage
*.log
npm-debug.log*
pnpm-debug.log*
.env
.env.*
!.env.example
.DS_Store
.vscode
.idea
/tmp
